* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 14px 1px black;
  padding: 0.9rem 5vw 0.3rem;
}
header .navContent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
header .navContent .ulContainer1 ul {
  display: flex;
  gap: 2rem;
}
@media (min-width: 1200px) {
  header .navContent .ulContainer1 ul {
    gap: 3.5rem;
  }
}
header .navContent .ulContainer1 ul li img {
  display: none;
}
header .navContent .ulContainer1 ul li a {
  text-decoration: none;
  color: #030d6c;
  transition: 0.3s;
}
header .navContent .ulContainer1 ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  color: orange;
  font-size: 1.3rem;
}
header h1 {
  color: #030d6c;
}
header .none {
  display: none;
}
@media screen and (min-width: 768px) {
  header .none {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  header .none_r {
    display: none;
  }
}
header .dropdown-content {
  display: none;
  position: absolute;
  width: 13vw;
  background-color: #efefef;
  border-radius: 6px;
  padding: 2vh 1vw;
  line-height: 1.65;
  color: grey;
  top: 74px;
  right: 7%;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.15);
}
header .img-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .img-logo div {
  padding-left: 5px;
}

@media (min-width: 768px) {
  header nav .navContent {
    display: flex;
  }
  header nav .fa-ellipsis-vertical {
    display: none;
  }
}
.section-1 {
  width: 100%;
  margin: 0 auto;
}
.section-1 .section1-header1 {
  color: #030d6c;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
}
@media (min-width: 768px) {
  .section-1 .section1-header1 {
    font-size: 2.6rem;
  }
}
.section-1 .section1-header2 {
  color: #030d6c;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-1 .section1-header2 {
    font-size: 2.6rem;
  }
}
.section-1 .opening-little-text {
  text-align: center;
  color: grey;
  font-size: 0.65rem;
  padding-top: 1rem;
  width: 87%;
  margin: 0 auto;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .section-1 .opening-little-text {
    font-size: 1rem;
  }
}
.section-1 .section-1-btn {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  column-gap: 1rem;
}
@media (min-width: 768px) {
  .section-1 .section-1-btn {
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
.section-1 .get-started-btn button {
  color: white;
  padding: 0.65rem 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: #030d6c;
  transition: 0.5s;
  cursor: pointer;
}
.section-1 .get-started-btn button:hover {
  transform: scale(1.3);
  background-color: rgba(255, 166, 0, 0.8);
}
.section-1 .sign-in-btn button {
  color: white;
  padding: 0.6rem 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: #ffa012;
  transition: 0.5s;
  cursor: pointer;
}
.section-1 .sign-in-btn button:hover {
  transform: scale(1.3);
  background-color: rgba(3, 14, 108, 0.7254901961);
}
.section-1 .section-1-last-text {
  width: 60%;
  margin: 0 auto;
}
.section-1 .section-1-last-text {
  text-align: center;
  color: grey;
  font-size: 0.65rem;
  padding-top: 0.4rem;
  width: 58%;
  margin: 0 auto;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .section-1 .section-1-last-text {
    font-size: 1rem;
  }
}

.section-2 {
  background-color: #ffa012;
  margin-top: 2rem;
}
.section-2 .section-2-ul {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .section-2 .section-2-ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
.section-2 .section-2-ul li {
  padding: 2rem;
  font-size: 900;
}

.section-2-ul li h1 {
  color: #030d6c;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section-2-ul li h1 {
    padding-bottom: 0.6rem;
  }
}

.section-3 {
  background-color: #030d6c;
  padding-bottom: 3rem;
}
.section-3 .section-3-ul {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}
@media (min-width: 980px) {
  .section-3 .section-3-ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.section-3 .section-3-ul li {
  text-align: center;
}
.section-3 .section-3-content {
  background-color: white;
  border-radius: 0.8rem;
  margin-top: 2rem;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.section-3 .section-3-content:hover {
  transform: scale(1.15);
}
.section-3 .automated-trading {
  padding: 1.2rem;
  padding-top: 2.5rem;
  color: #030d6c;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 600;
  margin: 0 auto;
}
.section-3 .section-3-context {
  width: 84%;
  margin: 0 auto;
  font-size: 0.8rem;
  color: grey;
  line-height: 1.5;
  max-width: 400px;
  height: 152px;
}
.section-3 .section_3_img {
  width: 4rem;
  margin-top: 2rem;
}
.section-3 .wallet {
  width: 30px;
  margin-left: -63px;
  margin-right: 1rem;
  margin-top: 3rem;
}

.section-4 {
  margin-top: 3rem;
}
.section-4 .container {
  width: 90%;
  margin: 0 auto;
}
.section-4 .container h1 {
  color: #030d6c;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
.section-4 .container p {
  text-align: center;
  font-size: smaller;
}
.section-4 .form {
  margin-top: 2rem;
  text-align: center;
}
.section-4 .email {
  width: 94%;
  margin: 0 auto;
  text-align: start;
  color: #030d6c;
}
.section-4 form button {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #030d6c;
  color: white;
  margin-top: 1.6rem;
  width: 100%;
  max-width: 400px;
}

.form div {
  flex-grow: 1;
}

form {
  width: 90%;
  margin: 0 auto;
}

form label {
  color: #030d6c;
  font-size: 0.9rem;
  margin-right: 15rem;
}

form input {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgba(213, 214, 219, 0.509);
  margin-top: 0.3rem;
  width: 100%;
}

footer {
  background-color: #030d6c;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
footer .container-levitate-logo-white {
  width: 100%;
  text-align: center;
  padding: 3rem;
}
footer .levitate-logo-white {
  width: 2rem;
}
footer .footer-container ul {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
footer .footer-container ul li {
  color: white;
  padding: 0.3rem;
  font-size: 0.8rem;
}
footer .arrow-footer {
  text-align: end;
  margin-left: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: -20px;
  right: -16px;
}
footer .arrow {
  transform: translateX(-2rem);
}
footer .top {
  transform: translateY(1.16rem);
  cursor: pointer;
}
footer .social_media {
  text-align: center;
}
footer .s_media {
  width: 11rem;
}
footer .all_right {
  text-align: center;
}
footer span {
  font-size: 1.2rem;
  padding-right: 0.3rem;
}
footer .fa-angle-down {
  display: none;
}
@media (min-width: 768px) {
  footer .menu {
    display: flex;
    justify-content: space-around;
  }
  footer .menu .subMenu {
    text-align: start;
  }
  footer .menu .legal {
    -webkit-padding-start: 4.9rem;
            padding-inline-start: 4.9rem;
    text-align: start;
  }
  footer .menu .subMenu li {
    display: block;
  }
  footer .menu .fa-angle-down {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */