footer{
    background-color: $bg-color3;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    .container-levitate-logo-white{
        width: 100%;
        text-align: center;
        padding: 3rem;
    }
    .levitate-logo-white{
        width: 2rem;
    }
    .footer-container ul{
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
    }
    .footer-container ul li {
        color: $text-color-white;
        padding: .3rem;
        // font-weight: 600;
        font-size: 0.8rem;
    }
    .arrow-footer{
        text-align: end;
        margin-left: 1rem;
        padding: 1rem;
        position: fixed;
        bottom: -20px;
        right: -16px;
    }
    .arrow{
        transform: translateX(-2rem);
    }
    .top{
        transform: translateY(1.16rem);
        cursor: pointer;
    }
    .social_media{
        text-align: center;
    }
    .s_media{
        width: 11rem;
    }
    .all_right{
        text-align: center;
    }
    span{
        font-size: 1.2rem;
        padding-right: 0.3rem;
    }
    .fa-angle-down{
        display: none;
    }
    .subMenu li {
        // transform: translateY(-10rem);
        // display: none;
    }
    @media (min-width: 768px) {
        .menu{
            display: flex;
            justify-content: space-around;
            .subMenu{
                // margin-bottom: 4rem;
                // text-align: start;
                text-align: start;
            }
            .legal{
                padding-inline-start: 4.9rem;
                text-align: start;
            }
            .subMenu li{
                display: block;
            }
            .fa-angle-down{
                display: none;
            }
        }
    }
}