//color variables
$bg-color1: white;
$bg-color2: #ffa012;
$bg-color3: #030d6c;

$text-color-blue: #030d6c;
$text-color-orange: #ffa012;
$text-color-black: black;
$text-color-white: white;
$text-color-grey: grey;

//font variables
$text-font: 'Mulish', sans-serif;